body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    margin: 0px;
}

header {
    text-align: center;
    border-bottom: 10px solid black;

}

#content {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.row {
    height: 80px;
    border-top: 1px solid white;
}

.col {
    float: left;
    height: 100%;
}

.hour,
.save {
    width: 100px;
}

.hour {
    text-align: right;
    border-top: 1px dashed black;
}

.hour p {
    margin-top: 30px;
    margin-right: 10px;
}

.event {
    width: calc(100% - 200px);
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    height: 100%;
	width: 100%;
}

.past {
    background-color: #d3d3d3;
    color: white;
}

.present {
    background-color: #ff6961;
    color: white;
}

.future {
    background-color: #77dd77;
    color: white;
}

.save-button {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    height: 100%;
    width: 100%;
}

.save-button i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}